* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);

  display: grid;
  place-items: center;
  color: #34355B;
}

.hide {
  display: none;
}

main {
  background: #FFFFFF;
  border-radius: 0.5rem;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.cookieopened {
  padding: 4.8rem 6.4rem;
  height: 56.4rem;
  width: 42.8rem;

}

.cookieclosed {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}


h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;

}

.cookiestart:hover {
  animation: tremor 0.8s infinite;
  transition: transform 0.3s ease-in-out;
}

h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #000000;
  background: #E4EDF1;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
  margin-top: .3rem;
  margin-bottom: 6.13rem;
}


button {
  margin-top: 5.34rem;
  padding: 1.6rem;
  background: #FF9500;
  border-radius: .4rem;

  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
  border: none;
  transition: background .3s;
}

button:hover{
 background: #e39c39;
}

@keyframes tremor {
  0% {
    transform: translateX(-1px) translateY(-1px) rotate(-2deg);
  }
  25% {
    transform: translateX(2px) translateY(2px) rotate(4deg);
  }
  50% {
    transform: translateX(-3px) translateY(-3px) rotate(-2deg);
  }
  75% {
    transform: translateX(2px) translateY(2px) rotate(4deg);
  }
  100% {
    transform: translateX(-1px) translateY(-1px) rotate(-2deg);
  }
}
